* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #ffffff;
	background-color: #4169e1;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}
